.MuiToolbar-root .MuiToolbar-gutters .MuiToolbar-regular {
  min-height: none !important;
}

.css-2ulfj5-MuiTypography-root {
  margin: 0;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px; */
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.DataTable {
  color: aqua;
}
